<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카카오 로그인</title>
</head>
<body>

<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
    Kakao.init('74369d3656e0458ace28ba20d8a75a5b');

    function doKakaoLogin() {
        var clientId = '74369d3656e0458ace28ba20d8a75a5b';
        var redirectUri = 'http://localhost:8088/kakao_callback';
        var url = `https://kauth.kakao.com/oauth/authorize?client_id=${clientId}&redirect_uri=${redirectUri}&response_type=code&scope=profile_nickname profile_image`;

        window.location.href = url;
    }

    window.onload = function() {
        doKakaoLogin();
    };
</script>

</body>
</html>
