<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>확인</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="col-6">
        <div th:if="${error}" class="alert alert-danger">
            사용자 정보가 올바르지 않습니다.
        </div>
        <div th:if="${success}" class="alert alert-success">
            임시 비밀번호를 메일로 전송했습니다.
        </div>
    </div>
    <div class="col-6">
        <a th:href="@{/user/login}" method="post" class="btn btn-primary">로그인</a>
    </div>
</div>
</body>
</html>