<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="col-6">
        <form th:action="@{/user/passModify}" th:object="${userCreateForm}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="password1" class="form-label">새로운 비밀번호</label>
                <input type="password" th:field="*{password1}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">새로운 비밀번호 확인</label>
                <input type="password" th:field="*{password2}" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">변경</button>
        </form>
    </div>
</div>
</body>
</html>