<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="col-6">
        <div th:if="${success}" class="alert alert-success" role="alert">
            <span th:text="${success}"></span>
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <span th:text="${error}"></span>
        </div>
        <form th:action="@{/user/password}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">사용자ID</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" name="email" id="email" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">찾기</button>
            <a th:href="@{/user/login}" method="post" class="btn btn-primary">로그인</a>
        </form>
    </div>
</div>
</body>
</html>