<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>프로필</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pb-2">프로필</h5>
    <div class="card my-3">
        <h5 class="my-3 border-bottom" style="display: flex; justify-content: space-between; align-items: center;">
            기본 정보
            <div>
                <a th:href="@{/user/proDetail}" method="post" class="btn btn-outline-secondary">수정</a>
            </div>
        </h5>

        <div class="card-text" th:text="|이름 : ${name}|"></div>
        <div class="card-text" th:text="|ID : ${username}|"></div>
        <div class="card-text" th:text="|Email : ${email}|"></div>
    </div>
<!--게시물 목록 출력-->
    <div class="card my-3">
        <h5 class="border-bottom my-3 py-2">게시물 목록</h5>
        <table class="table">
            <thead class="table-white">
            <tr class="text-center">
                <th>번호</th>
                <th>게시판</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
                <th>조회수</th>
                <th>추천수</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="question : ${questionList}">
                <td th:text="${question.id}"></td>
                <td th:if="${question.category != null}" th:text="${question.category.board}"></td>
                <td class="text-start">
                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                    <span class="text-danger small ms-2"
                          th:if="${#lists.size(question.answerList) > 0}"
                          th:text="${#lists.size(question.answerList)}">
                    </span>
                </td>
                <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${question.hit}"></td>
                <td th:text="${question.voteCount}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<!--답변 목록 출력-->
    <div class="card my-3">
        <h5 class="border-bottom my-3 py-2">답변 목록</h5>
        <table class="table">
            <thead class="table-white">
            <tr class="text-center">
                <th>번호</th>
                <th>게시판</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
                <th>추천수</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="answer : ${answerList}">
                <td th:text="${answer.id}"></td>
                <td class="text-center">
                    <a th:href="@{|/question/detail/${answer.question.id}|}" th:text="${answer.question.category.board}"></a>
                </td>
                <td class="text-start">
                    <a th:href="@{|/answer/comment/${answer.id}|}" th:text="${answer.content}"></a>
                    <span class="text-danger small ms-2"
                          th:if="${#lists.size(answer.commentList) > 0}"
                          th:text="${#lists.size(answer.commentList)}">
                    </span>
                </td>
                <td><span th:if="${answer.author != null}" th:text="${answer.author.username}"></span></td>
                <td th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${answer.voteCount}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<!--댓글 목록 출력-->
    <div class="card my-3">
        <h5 class="border-bottom my-3 py-2">댓글 목록</h5>
        <table class="table">
            <thead class="table-white">
            <tr class="text-center">
                <th>번호</th>
                <th>댓글 위치 : 게시판</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="comment : ${commentList}">
                <td th:text="${comment.id}"></td>
                <td class="text-center">
                    <a th:if="${comment.question != null}" th:href="@{|/question/comment/${comment.question.id}|}" th:text="|Q : ${comment.question.category.board}|"></a>
                    <a th:if="${comment.answer != null}" th:href="@{|/answer/comment/${comment.answer.id}|}" th:text="|A : ${comment.answer.question.category.board}|"></a>
                </td>
                <td class="text-start">
                    <a th:if="${comment.question != null}" th:href="@{|/question/comment/${comment.question.id}|}" th:text="${comment.content}"></a>
                    <a th:if="${comment.answer != null}" th:href="@{|/answer/comment/${comment.answer.id}|}" th:text="${comment.content}"></a>
                </td>
                <td><span th:if="${comment.author != null}" th:text="${comment.author.username}"></span></td>
                <td th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>