<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>프로필 상세보기</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/user/proDetail}" th:object="${userForm}" method="post" enctype="multipart/form-data">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="profileImage" class="form-label">프로필 사진</label>
            <input type="file" id="profileImage" name="profileImage" class="form-control">
            <!-- 프로필 사진 선택 여부에 따라 파일 이름 출력 -->
            <div th:if="${userForm.profileImagePath != null}" th:text="|현재 프로필 이미지 : ${userForm.profileImagePath}|"></div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">사용자 이름</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" disabled th:field="*{username}" class="form-control">
            <input type="hidden" th:name="username" th:value="*{username}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">수정 완료</button>
        <a th:href="@{/user/passModify}" class="btn btn-primary">비밀번호 변경</a>
    </form>
</div>
</body>
</html>